<?xml version="1.0"?>
<launch>
        <arg name="model" default="$(find chapter4)/urdf/robot1.urdf" />
        <!-- /home/tangtang/qtc_ws/tutorial_learning/src/chapter4 -->

        <arg name="gui" default="False" />
        <param name="robot_description" textfile="$(arg model)" />
        <param name="use_gui" value="$(arg gui)"/>

        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

        <node name="my_state_publisher" pkg="chapter4" type="state_publisher" output="screen" > </node>
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find chapter4)/urdf.rviz" />
</launch>
