<?xml version="1.0"?>

<launch>
    <node name="pcl_read" pkg="chapter10" type="pcl_read"/>
    <node name="pcl_filter" pkg="chapter10" type="pcl_filter"/>
    <node name="odom" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 world odom 10" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find chapter10)/rviz/pcl_filter.rviz"/>
</launch>
